.about {
  margin: 0 30px;
}

.about__list-item {
  text-align: left;
}

.about__list-item::before {
  content: "";
}

.about__review-body {
  margin: 0;
}

.about__review-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: @colorTextLighter;
}

.about__review-name {
  line-height: 30px;
  text-align: left;
}

.about__review-link {
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  color: @colorTextLighter;
}

.about__button {
  width: 129px;
  height: 52px;
  background-color: @colorBackground;
  border: 1px solid @colorBorder;
  border-right: 1px solid @colorBorder;
}

.about__button--right {
  border-left: none;
  margin-left: -4px;
}
