.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: @desktop-width;
  margin: 0 auto;
}

.contacts__title {
  margin: 38px auto;
  padding: 0 30px;
  grid-area: title;
}

.contacts__container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 76px 183px;
  grid-area: info;
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @colorTextLighter;
}

.contacts__link {
  color: @colorTextLighter;
  border-bottom: 1px solid @colorAccent;
  padding-bottom: 2px;
  margin-left: 2px;
}

.contacts__link:hover {
  color: @colorAccentDarkHover;
  border-bottom: 1px solid @colorAccentDarkHover;
}

.contacts__link:active {
  border-bottom: 1px solid fade(@colorAccentDarkHover, 10%);
}

.contacts__map {
  grid-area: map;
  max-width: @desktop-width;
  margin: 0 auto;
  background-image: url("../img/map-tablet@1x1.png");
}

.contacts__button {
  display: block;
  margin: 55px auto;
  grid-area: button;
}

@media (min-width: @tablet-width) {
  .contacts__container {
    grid-template-columns: 1fr 3fr 1fr 3fr;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title map"
      "info map"
      "button map";
    padding-left: 173px;
  }

  .contacts__container {
    grid-template-columns: 82px 249px;
  }

  .contacts__button {
    margin: initial;
  }
}
