.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: @desktop-width;
  margin: 0 auto;
}

.contacts__title {
  margin-top: 38px;
  margin-bottom: 27px;
  padding: 0 30px;
  grid-area: title;
}

.contacts__container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 76px 183px;
  grid-template-rows: 60px 90px;
  grid-area: info;
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @colorTextLighter;
}

.contacts__link {
  color: @colorTextLighter;
  border-bottom: 1px solid @colorAccent;
  padding-bottom: 2px;
  margin-left: 2px;
}

.contacts__link:hover {
  color: @colorAccentDarkHover;
  border-bottom: 1px solid @colorAccentDarkHover;
}

.contacts__link:active,
.contacts__link:focus {
  border-bottom: 1px solid fade(@colorAccentDarkHover, 10%);
}

.contacts__map {
  grid-area: map;
  width: 100%;
  max-width: @desktop-width;
  margin: 0 auto;
  margin-top: 68px;
  background-image: url("../img/map-tablet@1x1.png");
}

.contacts__button {
  display: block;
  margin: 35px auto 40px;
  grid-area: button;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    position: relative;
    margin-top: 65px;
    padding: 0 50px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../img/svg/icon-flag.svg");
      background-repeat: no-repeat;
      top: -23px;
      right: 53px;
    }
  }

  .contacts__container {
    grid-template-columns: 1fr 4fr 1fr 4fr;
    grid-template-rows: none;
    padding-top: 22px;
  }

  .contacts__item {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__link {
    margin-left: 11px;
  }

  .contacts__item-address {
    padding-left: 10px;
    padding-right: 23px;
  }

  .contacts__map {
    margin-top: 48px;
  }

  .contacts__button {
    width: 230px;
    margin: 57px auto 56px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: grid;
    grid-template-columns: 400px 530px;
    grid-template-rows: 150px 231px 77px;
    grid-template-areas:
      "title map"
      "info map"
      "button map";
    padding-left: 173px;
    padding-right: 50px;
    padding-top: 71px;
    padding-bottom: 102px;
  }

  .contacts__container {
    grid-template-columns: 79px 249px;
    grid-template-rows: 60px 150px;
  }

  .contacts__title {
    margin-top: 79px;

    &::after {
      top: -17px;
      right: 413px;
    }
  }

  .contacts__map {
    margin-top: 0;
  }

  .contacts__button {
    margin: 0;
    align-self: end;
    margin-left: 52px;
  }

  .contacts__link {
    margin-left: 0;
  }

  .contacts__item-address {
    padding: 0;
    padding-right: 15px;
  }
}
