.main-nav {
  align-self: center;
  text-align: right;
}

.main-nav__list {
  position: absolute;
  width: 320px;
  margin: 0;
  margin-top: 29px;
  background-color: @colorBackground;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.main-nav__item-link {
  color: @colorText;
  line-height: 24px;

  &:hover {
    color: lighten(@colorText, 40%);
  }

  &:active {
    color: lighten(@colorText, 70%);
  }
}

.main-nav__list--hidden {
  display: none;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
}

.main-nav__item {
  min-height: 79px;
  font-size: 15px;
  line-height: 79px;
  text-align: left;
  padding-left: 46px;
  box-shadow: 0 1px 0 @colorBorder, inset 0 1px 0 @colorBorder;
}

.main-nav__item-link--search::before {
  content: "";
  position: absolute;
  margin-left: -46px;
  margin-top: 31px;
  background-image: url("../img/search.svg");
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
}

.main-nav__item-link--cart::before {
  content: "";
  position: absolute;
  margin-left: -46px;
  margin-top: 31px;
  background-image: url("../../img/cart.svg");
  height: 18px;
  width: 21px;
  background-repeat: no-repeat;
}

.main-nav__item--new,
.main-nav__item--sale,
.main-nav__item--info {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    grid-area: header;
    // display: grid;
  }

  .main-nav__item {
    box-shadow: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list--hidden {
    display: grid;
  }

  .main-nav__item--catalog {
    grid-area: catalog;
    padding: 0;
  }

  .main-nav__item--form {
    grid-area: form;
    padding: 0;
  }

  .main-nav__item--search {
    grid-area: search;
    width: 83px;
    height: 89px;
    padding: 0;
  }

  .main-nav__item-link--search::before {
    margin-left: 32px;
    margin-top: 31px;
    height: 83px;
    width: 89px;
  }

  .main-nav__item--cart {
    grid-area: cart;
    padding: 0;
    justify-self: end;
  }

  .main-nav__item--new {
    grid-area: new;
  }

  .main-nav__item--sale {
    grid-area: sale;
  }

  .main-nav__item--info {
    display: block;
    grid-area: info;
    font-weight: 400;
    padding: 0;
  }

  .main-nav__list {
    width: 100%;
    position: static;
    margin: 0;
    transform: none;
    display: grid;
    grid-template-rows: 89px 89px;
    grid-template-areas:
      ". . search cart"
      "catalog form . info";
    background-color: transparent;
    justify-content: space-between;
  }

  .main-nav__item-link--search span {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item--new,
  .main-nav__item--sale {
    display: block;
    padding: 0;
  }

  .main-nav__list {
    grid-template-areas:
      "catalog form logo search cart"
      "new sale . . info";

    &::before {
      content: "";
      display: block;
      width: 149px;
      height: 72px;
      grid-area: logo;
      pointer-events: none;
    }
  }
}
