.page-catalog-title {
  font-size: 27px;
  line-height: 30px;
  background-color: @colorFooterBackground;
  width: 320px;
  padding-top: 74px;
  height: 103px;
  text-align: center;
}

.page-catalog__product,
.page-catalog__videobox {
  margin: 0 30px;
}

.page-catalog__videobox-title,
.page-catalog__product-title {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}

.page-catalog__product-description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: @colorTextLighter;
}

.page-catalog__product-price {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.page-catalog__videobox-description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: @colorTextLighter;
  text-align: left;
  margin-left: 34px;
}
