.page-modal {
  margin: 0 30px;
}

.page-modal__title {
  .title();
  text-align: center;
  text-transform: uppercase;
}

.page-modal__description {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @colorTextLighter;
  text-align: center;
}

.page-modal_radio-item {
  width: 82px;
  height: 52px;
}

.page-modal__button {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 18px auto;
  width: 260px;
  height: 52px;
  border: none;
  background-color: @colorAccent;
  color: @colorBackground;
}
