.page-header {
  position: relative;
  display: grid;
  grid-template-columns: 200px 60px;
  margin: 0 30px;
  height: 79px;
}

.page-header__logo {
  align-self: center;
  padding-left: 86px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    height: 178px;
    grid-template-columns: @tablet-width;
    grid-template-areas: "header";
    margin: 0;
  }

  .page-header__logo {
    grid-area: header;
  }
}
