.page-header {
  position: relative;
  background-color: transparent;
  z-index: 9;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 79px;
    background-color: @colorBackground;
    box-shadow:
      0 1px 0 @colorBorder,
      inset 0 1px 0 @colorBorder;
  }
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
  z-index: 9;
}


.page-header__container {
  position: relative;
  display: grid;
  grid-template-columns: 77% 23%;
  min-height: 79px;
}

.page-header--nojs .page-header__container {
  display: block;
}

.page-header__logo {
  display: block;
  align-self: center;
  justify-self: center;
  padding-left: 23%;
  z-index: 10;
}

.page-header--nojs .page-header__logo {
  padding-left: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__logo:hover .page-header__logo-image {
  opacity: 0.6;
}

.page-header__logo:active .page-header__logo-image,
.page-header__logo:focus .page-header__logo-image {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-header__container {
    grid-template-columns: 100%;
    grid-template-areas: "header";
  }

  .page-header {
    &::before {
      height: 89px;
    }
  }

  .page-header--nojs .page-header__container {
    display: grid;
  }

  .page-header__logo {
    grid-area: header;
    align-self: start;
    justify-self: start;
    padding-left: 0;
    padding-top: 22px;
  }

  .page-header--nojs .page-header__logo {
    padding-left: 0;
  }

  .page-header__logo-image {
    width: 114px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    justify-self: center;
    padding-top: 10px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }
}
