.page-footer {
  background-color: @colorFooterBackground;
  min-height: 160px;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  min-width: 142px;
}

.page-footer__social-link svg {
  fill: @colorText;
  transition: 0.3s all ease-in-out;
}

.page-footer__social-link:hover svg,
.page-footer__social-link:focus svg {
  fill: @colorAccentDarkHover;
}

.page-footer__social-link:active svg {
  opacity: 0.3;
}

.page-footer__develop {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.page-footer__develop-title {
  position: relative;
  font-size: 19px;
  line-height: 18px;
  color: @colorText;
}

.page-footer__develop svg {
  fill: @colorAccent;
  padding-left: 28px;
  transition: 0.3s all ease-in-out;
}

.page-footer__develop:hover svg,
.page-footer__develop:focus svg {
  fill: @colorAccentDarkHover;
}

.page-footer__develop:active svg {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    min-height: 143px;
  }

  .page-footer__logo {
    display: block;
    fill: @colorText;
    transition: 0.3s all ease-in-out;
  }

  .page-footer__logo:hover,
  .page-footer__logo:focus {
    fill: @colorAccentDarkHover;
  }

  .page-footer__logo:active {
    opacity: 0.3;
  }

  .page-footer__develop {
    margin-top: -4px;
  }
}
