.page-main__menu {
  position: relative;
  background-image: url("../img/hero-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-color: @colorHeaderBackground;
  background-position: top center;
}

.page-main__menu-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  height: 283px;
  margin: 0;
} //* перебиты*//

.page-main__menu-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: @colorAccent;
  height: 103px;
  margin-left: -30px;
  margin-right: -30px;
  color: @colorBackground;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  border: none;
}

.page-main__menu-button--two {
  background-color: @colorAccentDark;
}

.page-main__menu-button--one::after {
  content: "";
  display: block;
  width: 40px;
  height: 62px;
  background-image: url("../img/lamp.svg");
  background-repeat: no-repeat;
}

.page-main__menu-button--two::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../img/lego.svg");
  background-repeat: no-repeat;
}

.page-main__menu-button-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-main__menu {
    height: 746px;
    background-image: url("../img/hero-desktop.jpg");

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 24px;
      background-image: url("../img/wave.svg");
      background-position: center bottom;
      background-size: auto 100%;
      background-repeat: repeat-x;
    }
  }

  .page-main__menu-title {
    padding: 155px 50px;
    text-align: center;
  } //* перебиты*//

  .page-main__menu-button-wrapper {
    flex-direction: row;
    justify-content: space-around;
    min-width: 668px;
    min-height: 119px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  .page-main__menu-button {
    width: 334px;
    height: 119px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__menu {
    &::after {
      height: 34px;
    }
  }

  .page-main__menu-button {
    width: 525px;
  }

  .page-main__menu-button-wrapper {
    min-width: 1050px;
  }
}
