.page-main__menu {

  height: 489px;
  background-image: url("../img/hero-mobile@2x.jpg");
  background-repeat: no-repeat;
}

.page-main__menu-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  height: 283px;
  margin: 0;
}

.page-main__menu-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: @colorAccent;
  width: 320px;
  height: 103px;
  color: @colorBackground;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  border: none;
}

.page-main__menu-button--two {
  background-color: @colorAccentDark;
}

.page-main__menu-button--one::after {
  content: "";
  display: block;
  width: 40px;
  height: 62px;
  background-image: url("../img/lamp.svg");
  background-repeat: no-repeat;
}

.page-main__menu-button--two::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../img/lego.svg");
  background-repeat: no-repeat;
}

.page-main__menu-button-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-main__menu {
    margin: 0 50px;
  }
  .page-main__menu-button-wrapper {
    flex-direction: row;
  }
  .page-main__menu-button {
    width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__menu-button {
    width: 525px;
  }
}
