.page__body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @colorText;
  background-color: @colorBackground;
  outline: 1px solid crimson;
  outline-offset: -1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.separator {
  display: block;
  height: 6px;
  width: 320px;
  background-image: url("../img/zigzag-line-small.svg");
}


@media (min-width: @tablet-width) {
  .page__body {
    width: @tablet-width;
  }
  .separator {
    height: 17px;
    width: 772px;
    background-image: url("../img/zigzag-line-medium.svg");
  }
}

@media (min-width: @desktop-width) {
  .page__body {
    width: @desktop-width;
  }
  .separator {
    width: 1050px;
    height: 23px;
    margin: 0 auto;
    background-image: url(../img/zigzag-line-desktop.svg);
  }
}
