// viewports

@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;

//colors

@colorBackground: #ffffff;
@colorText: #000000;
@colorAccent: #63d1bb;
@colorAccentHover: #59d5bc;
@colorAccentDark: #56c3b2;
@colorAccentDarkHover: #46c1ae;
@colorAccentDarkest: #149080;
@colorFooterBackground: #f1f1f1;
@colorHeaderBackground: #f9f9f9;
@colorTextLighter: #444444;
@colorSocialBtn: #231f20;
@colorBorder: #ececec;
@colorBorderModal: #c6c6c6;
@colorUnderline: #62d1ba;
@colourBackgrouondImage: #f7f7f7;
